.calculator {
  width: 100%;
  height: 100%;
}

.calculator__bill label,
.calculator__tip label,
.calculator__people label {
  font-size: 2rem;
}

.no-zero {
  font-size: 1.6rem;
}

.data__container {
  width: 100%;
}
